.control-item, .system-item{
	height: 6rem;
	width:60%;
	margin-top:2rem;
	padding:1rem;
	display: inline-block;
	border-radius: 1rem;
	color:white;
	font-size: 1.4rem;
}

.control-item:first-child{
	margin-top:4rem;
}

.system-buttons, .system-controls{
	margin-top:2rem;
}

.system-buttons .btn:first-child{
	margin-left:0;
}

.btn-control{
    margin-left: 1.5rem;
    color:white;
}

.system-item.on{
	background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image:      -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
    background-image:         linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
    background-repeat: repeat-x;
    border-color: #3e8f3e;
}

.system-item.off{
	background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
	background-image:      -o-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
    background-image:         linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
	background-repeat: repeat-x;
	border-color: #b92c28;
}

.control-item.on {
	background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
	background-image:      -o-linear-gradient(top, #f0ad4e 0%, #eb9316 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#eb9316));
	background-image:         linear-gradient(to bottom, #f0ad4e 0%, #eb9316 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffeb9316', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-color: #e38d13;
	color:black;
}

.control-item.off {
	background: rgba(76,76,76,1);
	background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(100%, rgba(44,44,44,1)));
	background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 100%);
	background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 100%);
	background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 100%);
	background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2c2c2c', GradientType=1 );
	background-repeat: repeat-x;
	border-color: #e38d13;
	color:white;
}

.controls-container{
	margin-bottom: 40px;
}

.server-config{
	padding-top: 20px;
	border-top: 2px solid gray;
}
